body{
	margin: 0px;
}

h3{
	color: #E6E6E6;
	/*-webkit-text-stroke: .5px black;*/
	font-size: 50px;
	font-family: Helvetica, Verdana, sans-serif;
	border-bottom: 0px;
	border-top: 15px;
	border-left: 10px
}
h4{
	font-size: 15px;
	/*border-bottom: 1px dashed;*/
}
p{
	/*color: #E6E6E6;*/
	/*font-family: Garamond;*/
	font-size: 21px;
}
ul{
	font-size: 20px;
	list-style-type: square;
/*    padding: 0px;
    margin: 0px;*/
}
#see_work{
	color: orange;
}
#left_panel{
	padding-left: 15px;
	color: black;
	width: 360px;
	height: 100%;

	font-family: 'Open Sans', arial, sans-serif;
	font-kerning: auto;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
}
#left_panel:after {
	background-color: gray;
	opacity: 0.7;
	width: 365px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
#stage{
	/*float: right;*/
	position: absolute;
	top: 0;
	right: 0;
	color: black;
	width: 960px;
	height: 1000px;
	border: 5px solid red;
}
#stage:before {
	background-color: gray;
	opacity: 0.7;
	width: 365px;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
.open_left_panel{
	margin-left: 0px;
}
.closed_left_panel{
	margin-left: -325px;
}
.closed_stage{
	margin-right: -325px;
}
.open_stage{
	margin-right: 0px;
}

video#space_vid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}