/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

$transparent-background-color: gray;
$transparent-background-level: .6;
$header-color: #E6E6E6; //off white
$button-color: orange; //off white
$left-panel-width: 360px;
$open-stage-width: 95%;
// $primary-color: #333;

body{
	margin: 0px;
}

h3{
	color: $header-color;
	/*-webkit-text-stroke: .5px black;*/
	font-size: 50px;
	font-family: Helvetica, Verdana, sans-serif;
	border-bottom: 0px;
	border-top: 15px;
	border-left: 10px
}
h4{
	font-size: 15px;
	/*border-bottom: 1px dashed;*/
}
p{
	/*color: #E6E6E6;*/
	/*font-family: Garamond;*/
	font-size: 21px;
}
ul{
	font-size: 20px;
	list-style-type: square;
/*    padding: 0px;
    margin: 0px;*/
}
#see_work{
	color: $button-color;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px;
	padding: 7px;
}
#see_work:hover{
	color: $header-color;
	text-decoration: underline;
}
#stage_button{
	color: $button-color;
	width: 40px;
	// margin-left: auto;
	// margin-right: auto;
	border: solid 3px;
	padding: 7px;

	font-family: 'Open Sans', arial, sans-serif;
	font-kerning: auto;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
}
#stage_button:hover{
	color: $header-color;
	text-decoration: underline;
}
.open_button:before{
	content:"open";
}
.close_button:before{
	content: "close";
}
#left_panel{
	padding-left: 15px;
	color: black;
	width: $left-panel-width;
	height: 100%;

	font-family: 'Open Sans', arial, sans-serif;
	font-kerning: auto;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
}
.open_left_panel{
	margin-left: 0px;
}
.closed_left_panel{
	margin-left: -400px;
	width: 0px;
}
.open_left_panel:after {
	background-color: $transparent-background-color;
	opacity: $transparent-background-level;
	width: $left-panel-width;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
#stage{
	/*float: right;*/
	position: absolute;
	top: 0;
	right: 0;
	color: black;
	// width: $open-stage-width;
	height: 1000px;
	// border: 5px solid red;
}
.open_stage{
	width: 95%;
}
.open_stage:before {
	background-color: $transparent-background-color;
	opacity: $transparent-background-level*1.6;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
.closed_stage{
	margin-right: -910px;
	width: 85%;
}
.closed_stage > .portfolio_item{
	display:none;
}
.closed_stage:before {
	background-color: $transparent-background-color;
	opacity: $transparent-background-level;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
.portfolio_text{
	width: 500px;
	display: inline-block;
	// float:left;
}

video#space_vid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}